{% extends 'base.html' %}
{% block content %}
{% for mess in get_flashed_messages()  %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{mess}}
        </div>
      {% endfor %}
<form method="POST">
  {# This hidden_tag is a CSRF security feature. #}
  <label for="mail">email:</label>
  {{ form.mail1() }}
  {{ form.submit()}}
</form>
{% endblock %}
